config/output/*/parameters.env
config/output/*/samples.tsv
input/**/*.fastq
input/**/*.fastq.gz
input/**/*.fq
input/**/*.fq.gz
testdata/test_R1.fastq.gz
testdata/test_expected_outputs_*.zip
output/**
!output/**/
!output/**/.gitkeep
database/**/*.udb
database/**/*.fasta
database/**/*.fa
software/usearch12
software/.usearch12.download.*
*.Rproj.user/
.Rhistory
.RData
.DS_Store
